
//SCROLLBARS
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(221,221,221); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(111,111,111);  
}


#dirtylittlehelper_overlay { 
  display:none;
  height:350px; 
  width: 325px;
  background-color:#fff;
  position:relative;
  top: 0px;
  left:0px;
  z-index:15;
  overflow: auto; 
  border: 1px solid black; 
  font-size:11pt;
  padding: 6px;
  resize: both;
  }


#dirtylittlehelper_overlay div.inside,
#dirtylittlehelper_overlay div.close{
 background-color: #eee;
 font-size: 10pt;
 text-align: right;
 padding-right: 6px;
}

#dirtylittlehelper_overlay div.inside {
    padding-right: 0px;
    width: 95%;
    margin:  auto;
    position: absolute;
    bottom: 0;
}  
#dirtylittlehelper_overlay div.dirtylittlehelper_ovl_insert {
    padding: 4px;
}
#dirtylittlehelper_overlay div.close a { 
   padding-left: 4px; 
 }



/* CSS WAY TO CHECK IF MOBILE VIEW */
#dlh_is_tablet{
width: @ini_tablet_width;
height: 5px;
display: none;
}

#dlh_is_phone{
width: @ini_phone_width;
height: 5px;
display:none;
}






/* THE ADMIN MENU AT THE TOP */

#dlh_top0 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 30px;
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: center;
    z-index: 9999;
    font-size: 11px;
    /* overflow: hidden; */
}


#dlh_top_helper_a{ width:40px;margin-right:10px;display:inline-block;}
#dlh_top_helper_b{ display:none; width:600px;border:1px solid red;position: relative; margin-top: -15px; background-color: #FFF;padding:20px;}
#dlh_top_helper_b input{width:550px;display:inline;}
#dlh_top_helper_a:hover #dlh_top_helper_b{ display: table; }



#dlh_top_struct_a { display:inline; }
#dlh_top_struct_b { display:none; }
#dlh_top_struct_c { display:none; }

#dlh_top_struct_b button ,
#dlh_top_struct_b div ,
#dlh_top_struct_b span ,
#dlh_top_struct_b input
{ display:inline; }

#dlh_top_pagesuggest { display:inline; }

#dlh_top_dlhid { display:inline; }


.dlh_top_menu { display: inline; }
.dlh_top_menu_dropdown_admin { width: 100px; display:inline-block; }
.dlh_top_menu_dropdown_admin:hover .dlh_top_menu_dropbtn_admin { background-color: #FF5555;}
.dlh_top_menu_dropdown_admin:hover .dlh_top_menu_dropdown_content_admin { display: block;}

.dlh_top_menu_dropbtn_admin { color: black; }

.dlh_top_menu_dropdown_content_admin { position:relative; display: none; background-color: #f1f1f1; width: 500px; z-index: 999; margin-left: -400px;  margin-top: 5px;}
.dlh_top_menu_dropdown_content_admin a { color: black; padding: 6px 8px;  border: 1px solid #CCCCCC; display: flex; text-decoration: none; font-size:12px; text-align: left; }
.dlh_top_menu_dropdown_content_admin a:hover { background-color: #474747; color:#FFFFFF; text-decoration: none;}
.dlh_top_menu_dropdown_content_admin a svg { width:16px; height:16px; margin-right:4px; }
.dlh_top_menu_dropdown_content_admin table { width: 500px; }
.dlh_top_menu_dropdown_content_admin table td { width: 50%; }


#dlh_top_menu_page { display: inline; }
#dlh_top_menu_page p { display: inline; }
#dlh_top_all { display: inline; }
#dlh_top_all div.field { display: inline; }
.dlh_top_struct { display: none; }




/* HACK THE WIKI STYLE */

/* no footer */
	
	#dokuwiki__footer { 
		display: none; 
	}

/* buttons not so white */ 
	button{ 
		background-color:rgba(222, 222, 222, 0.3) !important; 
		/* background-image: none !important; */
	}
	
/* the page content is horizontal scrollabale */
	.page { 
		overflow-x: auto !important; 
	}


/* docInfo brighter */	
	.dokuwiki .docInfo{ 
		color: #AAAAAA;
	}

/* preview gets a border etc */
        .preview{
                   border: 1px solid #777777 !important;
                   max-width: 900px;
                   resize: both;
                   overflow: auto;
        }

/* top bar no margin-bottom */
	#dokuwiki__header .tools {
		margin-bottom: 0px !important;
	}




/* DIRTY LITTLE HELPER STYLE IN THE EDITOR */
	
	.dlh_button_32_32 { 
		width:32px !important; 
		height:32px !important; 
		padding: 0 !important; 
		background-color:white !important; 
		color: green !important; 
		font-weight: bold !important; 
		display: inline !important;
		margin-left: 1px !important; 
		margin-right: 1px !important;
	}


	.dlh_button_36_32 { 
		width:36px !important; 
		height:32px !important; 
		padding: 0 !important; 
		background-color:white !important; 
		color: green !important; 
		font-weight: bold !important; 
		display: inline !important;
		margin-left: 1px !important; 
		margin-right: 1px !important;
	}

	
	#dlh_edit_tb_dlhid{ 
		width: 100px;
		font-size: 16px;
		height: 32px;
	}

	
	.dlh_edit_tb_select{
		width: 220px;
		margin-right: 10px;
		font-size: 16px;
		height: 32px;
	}

	
	div.dlh_sep{
		display: inline;
		margin-left: 2px;
		margin-right: 2px;
		width: 1px;
		border-right:2px solid #FF9900;
	}



/* THE SIDEBAR */

	/* sidebar div */
	.dlh_ontheleft{
		/* margin-left: 12px;*/
		overflow-x: auto;
		overflow-y: hidden;
	}

	.dlh_ontheleft ::-webkit-scrollbar{
		width:5px;
	}

	.dlh_ontheleft #sb__index__tree{
		margin-left: 6px;
	}


	/* the tree entries more to the left */
	.dlh_ontheleft ul.idx * {
		margin-left: 1px;
		white-space: nowrap;
		text-transform: uppercase;
		font-size: 12.5px;
		font-family: monospace;
	}

	.dlh_left_button_sb_toggle{
		width: 10px;
		height: 10px;
		border: 5px solid #E0E0E0;
		position: absolute;
		top: -10px;
		padding: 0px;
		overflow: hidden;
		display: none;
	}

	

/* MERMAID */
.mermaid svg {
	width: 100%;
}


/* ONE TREE ONLY */
.dlh_one_tree_only{
    color: red;
    border: 1px solid red;
    display: inline;
    padding: 5px;
}

/* autocomplete on top */
.ui-autocomplete{ z-index: 99999 !important; }

.textcomplete-dropdown{ z-index: 999999 !important; }

/* search info wider */
.dokuwiki form.search div.ajax_qsearch{
  left: -21.5em;
  width: 20em;
}



/* left above the tree */
.dlh_left_above_tree{
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    font-size:90%;
    font-weight:bold;
    margin:0px;
}

.dlh_left_above_tree li {
    margin-left: 8px;
}

.dlh_left_above_tree li span, .dlh_left_above_tree li a {
    margin-left: -2px;
}

.dlh_left_above_tree_seperator{
    width:100%;
    height:2px;
    background-color:rgb(221, 221, 221);
    margin:20px 0px 20px 0px;
    overflow:hidden;
}



/* IP HELPER */

#dlh_iphelperinput {
	text-align: center;
	max-width: 95%;
	width: 400px;
	color: #000000;
	background-color: #ffffff;
}

.dlh_iphelper {
	cursor: pointer;
}

/* The iphelper (background) */
.dlh_myiphelper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    
    /*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
    /*-webkit-animation-name: fadeIn;*/ /* Fade in the background */
    /*-webkit-animation-duration: 0.4s;*/
    /*animation-name: fadeIn;*/
    /*animation-duration: 0.4s*/
	    
}

/* iphelper Content */
.dlh_iphelper-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    /*-webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s*/
}

/* The Close Button */
.dlh_iphelperclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

.dlh_iphelperclose:hover,
.dlh_iphelperclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dlh_iphelper-header {
    padding: 2px 16px;
    background-color: #7fd7f5;
    color: white;
}

.dlh_iphelper-body {padding: 2px 16px;}

.dlh_iphelper-footer {
    padding: 2px 16px;
    background-color: #7fd7f5;
    color: white;
}

/* Add Animation */
/*
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
*/



